#bloccosuperiore{
	margin-bottom: 5%;
}

table {
	margin: 1% 0 0 0;	
	font: normal 12px verdana;
	width: 100%;
}

td {
	background-color: #FFE87C;
	padding: 5px;
	text-align: justify;
	font: normal 12px verdana;
}

th {
	background-color: #38ACEC;
	text-align: center;
	padding: 5px;
	text-transform: uppercase;
	border-bottom: 2px solid #000;
}

table:hover {
	background-color:#000000;
}

.titolo{ 
	font: bold 18px verdana;
	padding: 1em;
}

p{
	border-bottom: 1px dashed #000;
	padding: 0.1%;
	margin: 0.5% auto;
	font: normal 14px verdana;
	width: 40%;
}

p:hover {
	color: #2B65EC;
	font-weight: bold;
}
