<<<<<<< Updated upstream
* { 
	margin: 0; 
	padding: 0; 
	font-family: verdana, "lucida console", sans-serif;
=======
* {
	margin:0;
	padding: 0;
	font: Verdana, Geneva, sans-serif;	
}

html, body {
	height:auto;
	width:100%;
	min-width:700px;
	background: #EAF5AB;
}	
	 body {border: 3px dotted red;
>>>>>>> Stashed changes
}

#img_magazzino { margin: 1em; }

a { 
	outline-style: none; 
	text-decoration: none; 
	color: #09539f;
}

a:hover { text-decoration: none; }
li { list-style-type: none; }

#header {
	color: #09539f;
	background-color: #eaf505;
	padding: 10px;
}

#header h1 {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#menu {
	background-color: #09539f;
	height: 59px;
}

#menu ul {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#menu ul li { 
	float: left;
}

#menu ul li a { 
	padding: 20px;
	display: block;
	background-color: #09539f;
	color: #eaf505;
}

#menu ul li a:hover { 
	padding: 20px;
	display: block;
	background-color: #eaf505;
	color: #09539f;
}

#footer { 
	color: #09539f;
	background-color: #eaf505;
	display: inline-block;
	width: 100%;
	/*padding: 0.5em;*/
}
*/
#footer .left {
<<<<<<< Updated upstream
	float: left;
	/* line-height:2; */
}

/*
#footer .left h2 { 
	vertical-align: middle;
}
*/
=======
	display: inline-block;
	
}

#footer .right {  
	display: inline-block;
}

#footer {
    margin: 50px 0 0 0;
	display: inline-block;
    width: 100%;
	border: 6px solid black;
	/* background: url(img_menu/background_footer.png) repeat-x; */
	background: url(img_menu/nav-bg.png) repeat-x;
}

>>>>>>> Stashed changes

#footer .right {  
	float: right;
}

#contents {
<<<<<<< Updated upstream
	clear: both;
	padding: 1em;
=======
	/*border: 6px dotted	blue;  */
	width:  100%;
	height: 100%;
>>>>>>> Stashed changes
}
#contents table td {
	padding: 0.3em;
}
#contents .left {
	float: left;
	width: 250px;
	/* border: 3px solid green; */
	
}

#contents .right {
	text-align: center;
	float: left;
	width: 70%;
	border: 3px solid red;
	display: block;
}

#contents .right table, td, th {
	border: 2px solid #09539f;
	border-collapse:collapse;
	font: verdana;
	font-size: 14px;
}

.right table tr:hover {
	background-color: #C0C0C0;
}

.left_container { 
<<<<<<< Updated upstream
	padding: 0.3em;
	font-size: 1.2em;
}
=======
		font-size: 1.2em;
	}
>>>>>>> Stashed changes

.greyboxinfo {
	color: #999999;
	font-size: 1.1em;
	font-style: italic;
}

.left_box_container { 
	padding-top: 1em;
}

.submenu li a {
	padding: 0.2em;
}

.submenu li a:hover{
	padding: 0.5em;
}

.insert_response {
	font-size: 1.8em;
	padding: 1em 0 0 0;
}



.submenu_mini {
	font-size: 0.8em;
	color: #999999;
	font-style: italic;
	padding: 0.3em;
}



