* { 
	margin: 0; 
	padding: 0; 
	font-family: arial, "lucida console", sans-serif;
}

img { border: 0; }

a { 
	outline-style: none; 
	text-decoration: none; 
	color: #09539f;
}

a:hover { text-decoration: none; }
li { list-style-type: none; }

#header {
	color: #09539f;
	background-color: #eaf505;
	padding: 10px;
}

#header h1 {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#menu {
	background-color: #09539f;
	height: 59px;
}

#menu ul {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#menu ul li { 
	float: left;
}

#menu ul li a { 
	padding: 20px;
	display: block;
	background-color: #09539f;
	color: #eaf505;
}

#menu ul li a:hover { 
	padding: 20px;
	display: block;
	background-color: #eaf505;
	color: #09539f;
}

#footer { 
	color: #09539f;
	background-color: #eaf505;
	display: inline-block;
	width: 100%;
	/*padding: 0.5em;*/
}

#footer .left {
	float: left;
	/* line-height:2; */
}

/*
#footer .left h2 { 
	vertical-align: middle;
}
*/

#footer .right {  
	float: right;
}

#contents {
	clear: both;
	padding: 1em;
}

#contents .left {
	float: left;
	width: 30%;
}

#contents .right {
	float: right;
	width: 70%;
}

#contents .right table, td, th {
	border: 2px solid #09539f;
	border-collapse:collapse;
}

.right table tr:hover {
	background-color: #C0C0C0;
}

.left_container { 
	padding: 0.3em;
	font-size: 1.2em;
}

.greyboxinfo {
	color: #999999;
	font-size: 1.1em;
	font-style: italic;
}

.left_box_container { 
	padding-top: 1em;
}

.submenu li a {
	padding: 0.2em;
}

.submenu li a:hover{
	padding: 0.5em;
}

.insert_response {
	font-size: 1.8em;
	padding: 1em 0 0 0;
}

#contents table td {
	padding: 0.3em;
}

.submenu_mini {
	font-size: 0.8em;
	color: #999999;
	font-style: italic;
	padding: 0.3em;
}



