body {
  font-family: "Verdana", "Sans-serif";
}

table {
  border-collapse: collapse;
  margin: 1em auto;
}

th {
  padding: 15px;
  background: #09539F;
  color: #E8F404;
}

td {
  padding: 5px 10px;
  border: 1px solid #999;
  font-size: 12px;
}
