#footer ul {
   clear:left;
   float:left;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
}

#footer ul li {
   font-size: 1.2em;
   float:left;
   list-style:none;
   position:relative;
   right:50%;
   padding: 1em 0.5em;
}
