

a.tooltip {outline:none; } a.tooltip strong {line-height:30px;} 
a.tooltip:hover {text-decoration:none;} 
a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px; width:300px; line-height:16px; } 
a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;} /*CSS3 extras*/ 
a.tooltip span { border-radius:4px; box-shadow: 5px 5px 8px #CCC; }

div#borderRadius{
border: 1px #C2D5EF solid;
position: relative;
border-radius: 22px;
width: auto;
background-color: #DFE5EA;
width: auto;
margin: auto;
padding: 2%;
}



table.altrowstable {
font-family: verdana,arial,sans-serif;
font-size:11px;
color:#333333;
border-width: 1px;
border-color: #a9c6c9;
border-collapse: collapse;



}



table.altrowstable th {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;

}


table.altrowstable td {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
.oddrowcolor{
background-color:#E0F174;

}
.evenrowcolor{
background-color:#379CDA;

}

tr.evenrowcolor:hover td,
tr.oddrowcolor:hover td {
  background: #FFF563;
}


