html, body {
height: 100%;
width: 100%;
margin: 0;
display: table;
}

#contents {
margin: 0px 10px 10px 10px;
text-align: center;
width: auto;
height: auto;
border: 1px #C2D5EF solid;
position: relative;
border-radius: 22px;
background-color: #DFE5EA;
/*background: transparent url(../imgs/bg_content2.png)  repeat-x;*/
padding: 0.5%;
}

#contents h1{
font: bold 26px Verdana, "Times New Roman", serif;
}

/*area notifiche con stili annessi - warning, tilt..ecc */
#log {
font: bold 11px Verdana, "Times New Roman", serif;
text-align: justify;
margin: 0 auto;
line-height: 1;
background-color: #DFEEFF;
border: 1px dashed #ccc;
padding: 0.2%;
width: 700px;
margin-bottom: 2em;
margin-top: 1.5em;
}

hr.divisore_log {
border: 0;
height: 1px;
background: #0066B3;
width: 100%;
background-image: -webkit-linear-gradient(left, #DFE5EA, #0066B3, #DFE5EA);
background-image: -moz-linear-gradient(left, #DFE5EA, #0066B3, #DFE5EA);
background-image: -ms-linear-gradient(left, #DFE5EA, #0066B3, #DFE5EA);
background-image: -o-linear-gradient(left, #DFE5EA, #0066B3, #DFE5EA);
margin-bottom: 2em;
}

#log a{
color: inherit;
}

.tit{
color: #1C5BA3;
font: bold 12px Verdana, "Times New Roman", serif;
}

.wellcomePage{
color: #31b404;
left: 480px;
position: relative;
}

/*#log p {
display: inline;
padding: 0.5em;
}*/

#log p.action{
color: #6C99B4;
}

#log p.action a:hover{
color: #366092;
}

#log p.search{
color: #0069FC;
}

#log p.search a:hover{
color: #009AFC;
}

#log p.pdf{
color: #2D8000;
}

#log p.pdf  a:hover{
color: #2DB100;
}

#log p.err{
color: #DF0101;
}

#log p.warn{
color: #FFBF00;
}

#log p.info{
color: grey;
}

#log p.info a:hover{
color: #000000;
}

#log p.done{
color: #31B404;
}

#log p.out{
color: #3366CC;
}

#log p.debug{
color: #008800;
text-decoration: underline;
}
/*fine area notifiche con stili annessi - warning, tilt..ecc */

