html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

#contents {
margin: 20px 10px 10px 10px;
text-align: center;
width: auto;
height: auto;
border: 1px #C2D5EF solid;
position: relative;
border-radius: 22px;
background-color: #DFE5EA;
padding: 1%;
}

#log {
font: italic bold 14px/30px Georgia, serif;
text-align: center;
margin: 90px auto;
line-height: 1;

}

#log p.err{
margin: 6px auto;
padding: 5px;
color: #DF0101;
}

#log p.warn{
margin: 6px auto;
padding: 5px;
color: #FFBF00;
}

#log p.msg{
margin: 6px auto;
padding: 5px;
color: #31B404;
}

#log p.tit{
color: #585858;
font-size: 20px;
}

#log p.debug{
color: #008800;
padding: 5px;
text-decoration: underline;
}
