html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;

}

#contents {
margin: 0px 10px 10px 10px;
text-align: center;
width: auto;
height: auto;
border: 1px #C2D5EF solid;
position: relative;
border-radius: 22px;
background-color: #DFE5EA;
/*background: transparent url(../imgs/bg_content2.png)  repeat-x;*/
padding: 0.5%;
}

#contents h1{
font: bold 26px Verdana, "Times New Roman", serif;
}

/*area notifiche con stili annessi - warning, tilt..ecc */
#log {
font: bold 11px Verdana, "Times New Roman", serif;
text-align: justify;
margin: 0 auto;
line-height: 1;
padding: 0;
width: 700px;
border-bottom: 1px dashed #006DBE;
margin-bottom: 2em;
}

#log a{
color: inherit;
}

#log p.tit{
color: #1C5BA3;
padding:1%;
border-bottom: 1px dashed #006DBE;
font: bold 12px Verdana, "Times New Roman", serif;

}

#log p.action{
color: #6C99B4;
}
#log p.action a:hover{
color: #366092;
}

#log p.search{
color: #0069FC;
}
#log p.search a:hover{
color: #009AFC;
}

#log p.pdf{
color: #2D8000;
}
#log p.pdf  a:hover{
color: #2DB100;
}

#log p.err{
color: #DF0101;
}

#log p.warn{
color: #FFBF00;
}

#log p.info{
color: grey;
}
#log p.info a:hover{
color: #000000;
}

#log p.done{
color: #31B404;
}

#log p.out{
color: #3366CC;
}

#log p.debug{
color: #008800;
text-decoration: underline;
}
/*fine area notifiche con stili annessi - warning, tilt..ecc */

