div.centeredmenu
{
    margin:0 auto;/*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    font-size:0;
    height: 25px;  
    *position:relative;*top:1px;/*Hacks for IE6 & IE7 */  
}

div.centeredmenu a
{
    display: inline-block;
    margin-right:6px; /* It specifies the distance between each tab */
    background:#FFF url(../imgs/bg.gif) repeat-x 0 0;
    padding-left:4px;
    vertical-align:top;/*ChangeSet#1*/
    text-decoration:none;
}

div.centeredmenu a span
{
    display: inline-block;
    background:#FFF url(../imgs/bg.gif) repeat-x 100% 0;
    padding: 0 20px;
    text-decoration:none;
    font: normal 14px Arial;
    line-height: 25px;
    color:#7087A9;
    vertical-align:top;
}

div.centeredmenu a:hover, div.centeredmenu a.current
{
    background:#FFF url(../imgs/bg.gif) repeat-x 0 -25px;
    line-height: 26px;
}

div.centeredmenu a:hover span, div.centeredmenu a.current span
{
    background:#FFF url(../imgs/bg.gif) repeat-x 100% -25px;
    line-height: 26px;
    color:#244D8A;
}

div.centeredMenuSub 
{
    height:10px;
    border:1px solid #C2D5EF;
    background:#eee url(../imgs/bg.gif) repeat-x 0 -50px;
}






