#bloccosuperiore{
	margin-bottom: 5%;

}

table {
	margin: 1% 0 0 0;	
	/*border: 1px solid red;*/
	font: normal 12px verdana;
	background-color: #ccc;
	width: 100%;

}

td {
	/*border: 1px solid blue;*/
	padding: 5px;
	text-align: justify;
	font: normal 12px verdana;


}

th {
	background-color: #99D7FF;
	text-align: center;
	padding: 5px;
	text-transform: uppercase;
	border-bottom: 2px solid #000;

}

tr {
	/*border: 1px solid green;*/

}


table:hover {
	background-color: #ddd;
}

.titolo{ 

	font: bold 18px verdana;

}


p{
	
	border-bottom: 1px dashed #000;
	padding: 0.1%;
	margin: 0.5% auto;
	font: normal 14px verdana;
	width: 40%;
	font: normal 12px verdana;

}

p:hover {
	background-color: #CCCCAB;
	

}




