#DIV-pagination {
margin: 1.5em;
}

.paginate {
  display:inline-block;
  font-size: 0.7em;
}

.paginate li { font-weight: bold;}

.paginate li a {
  display: block;
  float: left;
  color: #000;
  text-decoration: none;
  padding: 2px;
  margin-right: 2px;

}

.paginate li.current a:hover {
  color: black;
  background-color: transparent ;  
  text-decoration: underline;
}

.paginate li.single a:hover {
  color: white;
  background-color: #CECDBD ;

}

.paginate li.current {
  background-color: B9BDBD ;
 font-size: 16px;
  display: block;
  float: left;
  border: solid 1px #B4B6B3;
  padding: 3px;
  margin-right: 6px;
  border-radius: 3px;
}
.paginate li.single {
  background-color: #CECDBD ;
 font-size: 16px;
  display: block;
  float: left;
  border: solid 1px #B4B6B3;
  padding: 3px;
  margin-right: 6px;
  border-radius: 3px;
}




*/

