table{
	padding:0.2em;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:auto; 
    margin-right:auto;
}

caption {
	font-size:300%;
}

thead {
	font-size:120%;
	
}


td:hover { 
background: #6BA2F4; 

} 


td {
	width: auto;
	border:0.1em solid #d3d3d3;
	background-color:#FFFFF0;
}

th {
	background-color:#F0E68C;
	border:0.2em solid black;
	background-image: url(../imgs/bg.gif); 
	background-repeat: no-repeat;
    background-position: left; 
}

a {
	text-decoration:none;
	color:#000;
}


	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	