* {
    margin: 0 auto;
    padding: 0;
	text-decoration: none;
	
}
div#home  {
	margin: 6em auto;
	background: url("../img/home_magazzino.gif") no-repeat;
	height:256px;
	width:526px;
}

.logo_title {
	margin: 2em auto;
	border:none;
}

/*logo in alto a sx*/
.logo_poste {
	position:absolute;
	left:0px;
	top:0px;
}

/*logo in alto a dx*/
.logo_funzione {
	position:absolute;
	right:0px;
	top:0px;
}

.header {
	text-align: center;
    width: 100%;
	background: url("../img/bk_header.png") repeat-x;
	height: 150px;
}

.mask {
    overflow: hidden;
    position: relative;
    width: 100%;

}

/***********************************************/
/*  risposta è la classe per i msg di output   */
/***********************************************/

.risposta{
color:#ff0000;
font-family: verdana;
padding: 0.5em ;
border: 2px dashed #FF0000;
text-align: center;
width: 50%;
margin: 9em auto;

}


.risposta span {
background: yellow;
vertical-align: super;
}


span#filtro {
font-family: verdana;
font-weight: bold;
 display:inline-table;
 *display:inline;
 margin: auto 0 auto 1em;
 vertical-align: middle;
}

.colleft {
    position: relative;
    width: 100%;
    height: auto;
	background: transparent;
}


/*.col1 {
    border: 10px solid #ffffff;
    float: left;
    left: 98%;
    overflow: hidden;
    position: relative;
    width: 80.2%;
}*/
/*.col2 {
    float: left;
    left: 0.7%;
	overflow: hidden;
    position: relative;
    width: 15%; larghezza di tutto il sidebar di sx
	background: url("../img/bk_sidebar.png") repeat-y; 
}*/






/************************************************************************************************/
/* 											FOOTER'S STYLE  									*/
/************************************************************************************************/
div#footer img {
border: none;
}
div#footer {
    background: url("../img/bk_footer2.png") repeat-x;
    float: left;
    height: 200px;
	clear: both;
    width: 100%;
	/*border: 5px solid yellow;*/
	text-align: center;
	font: bold 16px Verdana ;
	position:relative;
	bottom: 0;

}
.centrato {
margin: 1em auto;
}
div#footer  ul li
{
 color: #FFFFFF;
 display:inline-table;
 *display:inline;
 margin: auto 1em auto 1em;
 vertical-align: middle;

}

div#footer a:link 
{
padding:0.2em;
color: #FFFFFF;
}
div#footer ul li a:hover 
{
 /*color: #E9F404;*/
 padding:0.2em;
 border-top: 1px dashed #fff;
 border-bottom: 1px dashed #fff;
 /*background: #2E89D1;*/
 background:#000;
 color: yellow;
 
}

div#footer  a:visited 
{ 
padding:0.2em;
color: #ffffff;
}

div#footer .w3c a:hover {
 padding:0.2em;
 border:none;
 background: transparent;
}



/************************************************************************************************/
/* 											TABLES'S STYLE  									*/
/************************************************************************************************/

.CSSTableGenerator h3 {
    /*background: #DCE5F0;*/
    background: #E7F404;
    text-transform: uppercase;
    padding: 0.5em;
	font: italic bold 14px Verdana ;

	
}
.CSSTableGenerator {
    box-shadow: 5px 5px 2px #888888;
    border: 1px solid #000000;
   overflow: scroll;
   margin: 2em 0px  2em 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.CSSTableGenerator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
	
}
.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.CSSTableGenerator tr:hover td { background-color: #ffffff; text-decoration: none; }
.CSSTableGenerator td {
    vertical-align: middle;
    background-color: #ffffaa;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 4px;
    color: #000000;
	font: normal normal 12px Verdana ;

	
	
}
.CSSTableGenerator tr:last-child td { border-width: 0px 1px 0px 0px }
.CSSTableGenerator tr td:last-child { border-width: 0px 0px 1px 0px }
.CSSTableGenerator tr:last-child td:last-child { border-width: 0px 0px 0px 0px }
.CSSTableGenerator tr:first-child th {
    background: -o-linear-gradient(bottom, #008CFF 5%, #008CFF 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #008CFF), color-stop(1, #008CFF) );
    background: -moz-linear-gradient( center top, #008CFF 5%, #008CFF 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008CFF", endColorstr="#008CFF");
   /* background: -o-linear-gradient(top,#008CFF,008CFF);
    background-color: #008CFF; */
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font: normal bold 14px Verdana ;
    color: #ffffff;
	text-transform: uppercase;
	background: url("../img/bg.gif") no-repeat bottom right #008CFF;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.gif', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.gif', sizingMethod='scale')";
}
.CSSTableGenerator tr:first-child td:first-child { border-width: 0px 1px 1px 0px }
.CSSTableGenerator tr:first-child td:last-child { border-width: 0px 0px 1px 1px }



/************************************************************************************************/
/* 											FORM'S STYLE  										*/
/************************************************************************************************/


input[type="text"],input[type="button"],input[type="password"],
input[type="file"],input[type="submit"],input[type="radio"],
textarea, input[type="reset"],input[type="search"],input[type="checkbox"] {
	line-height:normal !important;
	background: #CCCCCC;	
	font: normal normal 16px tahoma, helvetica, sans-serif ;
	color: #000000;
	margin: 0.5em;
	padding: 1px;
	
}

input[type="text"]:hover,
input[type="button"]:hover,
input[type="password"]:hover,
input[type="submit"]:hover,
input[type="radio"]:hover,
textarea:hover,
input[type="reset"]:hover,
input[type="file"]:hover,
input[type="search"]:hover,
input[type="checkbox"]:hover
  {
	background: #B6EEFF;	
}

.form_labelstyle {

	color: #000000;
	font: normal bold 16px tahoma, helvetica, sans-serif ;	
}

select {

	border: 1px solid #1F1F1F;
    padding:2px;
    margin: 0;
    background: #CCCCCC;
    color:#000000;
    border:none;
    outline:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

div#credits{
margin:100px auto;
width: 490px;
height: 500px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
filter: alpha(opacity=77);
-moz-opacity: 0.77;
-khtml-opacity: 0.77;
opacity: 0.77;
border: 2px #000000 dashed;
background-color: #c5e958;
padding: 10px;
color: #141590;
font: normal normal 14px tahoma, helvetica, sans-serif ;	
-moz-box-shadow: inset 0px 0px 0px 0px #888888;
-webkit-box-shadow: inset 0px 0px 0px 0px #888888;
box-shadow: inset 0px 0px 0px 0px #888888;
transform:rotate(34deg) skew(48deg,130deg) rotateY(16deg) rotateZ(8deg) scale(0.8);
-ms-transform:rotate(34deg) skew(48deg,130deg) rotateY(16deg) rotateZ(8deg) scale(0.8);
transform:rotate(34deg) skew(48deg,130deg) rotateY(16deg) rotateZ(8deg) scale(0.8);
letter-spacing:2px;
}
div#credits h1,h2,h3,h4{
text-align:center;
}
div#credits li {
list-style-type: square;
text-align: center;
margin: 15px;
}
div#credits a:hover {
text-decoration: underline;
color:#099AFF;
}
div#credits a:link,a:visited {
color:#099AFF;
}
div#credits p {
margin: 10px;
text-align: left;
}
/*il bold nei credits */
.bold {font-weight:bold;}

hr { border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }


.riferimenti {
text-align:center;
margin: 20px;
}

div#riferimenti li {
list-style-type: none;
text-align: center;
}
